footer.footer
    .container-fluid
        nav.float-left
            ul
                li
                    a(href="#")
                        | Home
                li
                    a(href="#")
                        | About Us
                li
                    a(href="#")
                        | Blog
                li
                    a(href="#")
                        | Licenses
        .copyright.float-right
            | ©
            script.
                document.write(new Date().getFullYear())
            | , made with 
            i.material-icons favorite
            |  by 
            a(href='https://github.com/dipenparmar12/', target='_blank') Dipen Parmar
            |  for a better web.