block variables
    - page_title = "Sistema-asistencia Msc-it Sem3 Atmiya University"
    - app_name = "Attendance"
    - page_tab_title = "Default Page Title"
    - user_name = "Dipen Parmar"
    - page_tab_title = 'Sistema Asistencia....Mscit-3'